---
layout: default
---


   <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <h1 data-aos="fade-up" data-aos-delay="100">Welcome to the Quad.</h1>
                <h2 data-aos="fade-up" data-aos-delay="300"><img class="logo" src="images/logo2.png"></h2>
           
            </div>
            <!--container-fluid end-->
        </div>
    </section>

{{ content }}
